<html>
<head>
	<title>Pycon SE 2020 workshop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    	<form method="post">
            <div class="form-group">
                <label for="original_url">URL to create link:</label>
                <input class="form-control" id="original_url" name="original_url" type="text">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>